@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@layer base {
  body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    text-rendering: optimizespeed;
    height: 100%;
    background: url("./background.svg") no-repeat center top;
  }
}
@tailwind utilities;
:root {
}
* {
  box-sizing: border-box;
}
.ant-form-item-label > label::after {
  /* display: none !important; */
}
/* #6366f1 */
.ant-btn-primary {
  color: #fff !important;
  background: #6366f1 !important;
  box-shadow: 0 2px 0 rgba(5, 55, 255, 0.06) !important;
}
.scrollCustom::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
.scrollCustom::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
.scrollCustom::-webkit-scrollbar-track {
  background-color: transparent;
}
